@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

// Definim el body
body{
  font-family: "Roboto", sans-serif;
  margin-top: 0px !important;
  overflow-x: hidden;
  width: 20%;
  color: $gray-700;

}

// Sobreescribim els estils dels botons
.btn{
  border-radius: 2px;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px $gray-300 solid;
  color: $gray-700;
  background-color: #FFFFFF;

  &.btn-primary{
    border-color: $brand-primary;
    background-color: $primary;

    color: #FFFFFF !important;

    &.inverted{
      background-color: #FFFFFF;
      color: $primary;
    }

    &:hover{
      border-color: $primary;
      color: $primary !important;
      background-color: transparent;
    }
  }
}

