{% for node in nodes %}
  <div>
    <h2>{{ node.title.value }}</h2>
    <p>Brand: {{ node.field_cars_brand.entity.label }}</p>
    <p>Model: {{ node.field_cars_model.value }}</p>
    <p>Color: <span style="background-color: {{ node.field_cars_color.value }}; color:grey">{{ node.field_cars_color.value }}</span></p>
    {% if node.field_cars_img.entity %}
      <div class="car-image" style="max-width: 100%;">
        <img src="{{ file_url(node.field_cars_img.entity.fileuri) }}" alt="Car Image" style="width: 100%; height: auto;">
      </div>
    {% endif %}
  </div>
{% endfor %}

